/* alert-dialog.css */

/* Style du contenu de l'alerte */
.alert-content {
    -fx-font-size: 14px;
}

/* Style du titre de l'alerte */
.alert-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* Style du texte de l'en-tête de l'alerte */
.alert-header {
    -fx-font-size: 14px;
}

/* Style du bouton OK */
.button-ok {
    -fx-background-color: #007bff; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
}
