
.header{
    -fx-background-color: #121212; /* Darker shade for header */
}

.header-button{
    -fx-background-color: #232323; /* Dark grey for buttons */
    -fx-start-margin: 5px;
    -fx-text-fill: #d0d0d0; /* Lighter text for better contrast */
}
.panel{
    -fx-font-size: 11px;
    -fx-text-fill: #c7c7c7; /* Light grey text for readability */
    -fx-border-color: #111111 !important; /* Slightly lighter border for subtle contrast */
}
.panel-primary, .panel-danger, .panel-heading {
    -fx-border-radius: 2 2 2 2;
    -fx-background-radius: 2 2 2 2;
}

.panel-primary {
    -fx-font-family: "Broadway";
    -fx-text-background-color: #bbbaba;
    -fx-background-color: #0a0a0a; /* Dark red for 'danger' panels */
    -fx-border-color: #545252 !important; /* Slightly lighter border for subtle contrast */


}

.panel-heading{
    -fx-text-fill: white; /* White text for readability */
    -fx-background-color: #111111 !important;
    -fx-border-color: #1e1313 !important; /* Slightly lighter border for subtle contrast */

}

.panel-danger {
    -fx-background-color: #210406; /* Dark red for 'danger' panels */
    -fx-font-family: "Broadway";
    -fx-text-background-color: #bbbaba;
    -fx-border-color: #545252 !important; /* Slightly lighter border for subtle contrast */
}

.panel-body{
    -fx-padding: 2px;
    -fx-text-fill: white!important; /* White text for readability */
}

.panel-heading{
    -fx-padding: 2px;
    -fx-background-color: black; /* Dark background for headings */
    -fx-text-fill: #d0d0d0!important; /* Lighter text for contrast */
}

.card {
    -fx-padding: 1px;
    -fx-background-color: red; /* Dark grey background for the card */
    -fx-border-color: #444; /* Slightly lighter border for subtle contrast */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 2, 0, 0, 2);
    -fx-spacing: 2px; /* Spacing between child elements */
    -fx-text-fill: #e7e5e5!important; /* Light grey text for readability */
}

.card-header {
    -fx-background-color: red; /* Dark blue for the header */
    -fx-padding: 2px;
    -fx-text-fill: #e7e5e5!important; /* Light grey text */
    -fx-font-weight: bold;
    -fx-background-radius: 2px 2px 0 0; /* Only round the top corners */
}

.card-content {
    -fx-padding: 2px;
    -fx-background-color: red; /* Keeping the background consistent with the card */
    -fx-text-fill: #e7e5e5!important; /* Maintaining light grey text for contrast */
}


.footer{
    -fx-background-color: #111111;
}

.btn{
    -fx-background-color: #0a0a0a; /* Dark red for primary buttons */
    -fx-text-fill: #d0d0d0; /* Light grey text for contrast */
    -fx-border-color: #545252 !important; /* Slightly lighter border for subtle contrast */
}
.btn-sm{
    -fx-background-color: #093333; /* Darker red for hover effect */

}
.btn-primary:hover{
    -fx-background-color: #2d0a0a; /* Darker red for hover effect */
}

.btn-info:hover{
    -fx-background-color: #093333; /* Darker red for hover effect */
}

.btn-success:hover{
    -fx-background-color: #404805; /* Darker red for hover effect */
}

.side-bar{
    -fx-background-color:#111111;
}

.btn-nav{
    -fx-background-color: #080810; /* Dark grey for navigation buttons */
    -fx-text-fill: #d0d0d0; /* Light grey text for contrast */
}

.btn-nav:hover{
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}

.header-button:hover{
    -fx-border-color: WHITE;
    -fx-border-width: 3px 0px 0px 0px;
}


